{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h4>Create Project</h4>
    <hr>
    <form method="post">{% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field field|add_class:"form-control" %}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Create" class="btn btn-success float-right">
    </form>
{% endblock content %}

{% block script %}

{% endblock script %}